# Projet 4

## 1. Introduction

## 1.1. Importation des librairies

In [1]:
#Importation des librairies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #Graphigues
import seaborn as sns #Graphiques
import folium

## 1.2. Importation fichier csv

In [2]:
sous_nutrition = pd.read_csv("sous_nutrition.csv")
dispo_alimentaire1 = pd.read_csv("dispo_alimentaire1.csv", on_bad_lines='skip')
population = pd.read_csv("population.csv")
aide_alimentaire = pd.read_csv("aide_alimentaire.csv", on_bad_lines='skip')

# 1.3.  Dataframe ''sous-nutrition''

In [3]:

#modification des données
sous_nutrition['Année'] = sous_nutrition.Année.astype(int)
#modification des données
sous_nutrition["Valeur"] = sous_nutrition.Valeur.astype(float)

In [4]:
sous_nutrition

             Zone  Année  Valeur
0     Afghanistan   2013     8.6
1     Afghanistan   2014     8.8
2     Afghanistan   2015     8.9
3     Afghanistan   2016     9.7
4     Afghanistan   2017    10.5
...           ...    ...     ...
1213     Zimbabwe   2014     0.0
1214     Zimbabwe   2015     0.0
1215     Zimbabwe   2016     0.0
1216     Zimbabwe   2017     0.0
1217     Zimbabwe   2018     0.0

[1218 rows x 3 columns]

In [5]:
# data exploration
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   int32
 2   Valeur  1218 non-null   float64
dtypes: float64(1), int32(1), object(1)
memory usage: 23.9+ KB

In [6]:
# data exploration
sous_nutrition.describe()

             Année       Valeur
count  1218.000000  1218.000000
mean   2015.500000     2.614778
std       1.708527    14.148811
min    2013.000000     0.000000
25%    2014.000000     0.000000
50%    2015.500000     0.000000
75%    2017.000000     1.200000
max    2018.000000   203.800000

In [7]:
sous_nutrition

             Zone  Année  Valeur
0     Afghanistan   2013     8.6
1     Afghanistan   2014     8.8
2     Afghanistan   2015     8.9
3     Afghanistan   2016     9.7
4     Afghanistan   2017    10.5
...           ...    ...     ...
1213     Zimbabwe   2014     0.0
1214     Zimbabwe   2015     0.0
1215     Zimbabwe   2016     0.0
1216     Zimbabwe   2017     0.0
1217     Zimbabwe   2018     0.0

[1218 rows x 3 columns]

In [8]:
#Arrondir en millions
sous_nutrition['Valeur'] = sous_nutrition['Valeur']*1000

In [9]:
# Supprimer toutes les valeurs manquante NaN
sous_nutrition.dropna(inplace=True)

In [10]:
sous_nutrition

             Zone  Année   Valeur
0     Afghanistan   2013   8600.0
1     Afghanistan   2014   8800.0
2     Afghanistan   2015   8900.0
3     Afghanistan   2016   9700.0
4     Afghanistan   2017  10500.0
...           ...    ...      ...
1213     Zimbabwe   2014      0.0
1214     Zimbabwe   2015      0.0
1215     Zimbabwe   2016      0.0
1216     Zimbabwe   2017      0.0
1217     Zimbabwe   2018      0.0

[1218 rows x 3 columns]

In [11]:
print(sous_nutrition.dtypes)

Zone       object
Année       int32
Valeur    float64
dtype: object

In [12]:
sous_nutrition.isnull().sum()

Zone      0
Année     0
Valeur    0
dtype: int64

# 2.1.  Dataframe ''dispo alimentaire''

In [13]:
dispo_alimentaire1[dispo_alimentaire1['Zone']=='Afghanistan']

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,Blé,vegetale,NaN,NaN,1369.0,160.23,4.69,36.91,5992.0,NaN,1173.0,4895.0,775.0,5169.0,322.0,NaN,-350.0
6,Afghanistan,Boissons Alcooliques,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,Café,vegetale,NaN,NaN,0.0,0.00,NaN,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,Coco (Incl Coprah),vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,Crème,animale,NaN,NaN,3.0,0.60,0.32,0.04,18.0,NaN,18.0,18.0,NaN,NaN,NaN,NaN,NaN
10,Afghanistan,Dattes,vegetale,NaN,NaN,0.0,0.02,0.00,0.00,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
11,Afghanistan,Edulcorants Autres,vegetale,NaN,NaN,2.0,0.53,NaN,NaN,16.0,NaN,16.0,16.0,NaN,NaN,NaN,NaN,NaN
12,Afghanistan,Feve de Cacao,vegetale,NaN,NaN,0.0,0.02,0.04,0.01,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
13,Afghanistan,Graines de coton,vegetale,NaN,NaN,NaN,NaN,NaN,NaN,27.0,0.0,NaN,NaN,NaN,27.0,1.0,26.0,NaN
14,Afghanistan,Graines de tournesol,vegetale,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,0.0,3.0,NaN
15,Afghanistan,Graisses Animales Crue,animale,NaN,NaN,12.0,0.49,1.31,0.01,15.0,NaN,1.0,15.0,NaN,14.0,NaN,NaN,NaN
16,Afghanistan,Huil Plantes Oleif Autr,vegetale,NaN,359.0,2.0,0.08,0.21,0.00,361.0,NaN,360.0,2.0,NaN,1.0,NaN,NaN,NaN
17,Afghanistan,Huile Graines de Coton,vegetale,NaN,1.0,3.0,0.12,0.34,NaN,5.0,NaN,NaN,4.0,NaN,5.0,NaN,NaN,NaN
18,Afghanistan,Huile d'Arachide,vegetale,NaN,NaN,0.0,0.00,0.00,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
19,Afghanistan,Huile d'Olive,vegetale,NaN,NaN,0.0,0.02,0.05,NaN,1.0,NaN,0.0,1.0,NaN,1.0,NaN,NaN,NaN
20,Afghanistan,Huile de Colza&Moutarde,vegetale,NaN,NaN,2.0,0.07,0.18,NaN,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
21,Afghanistan,Huile de Palme,vegetale,NaN,55.0,51.0,2.09,5.74,NaN,119.0,NaN,119.0,64.0,NaN,NaN,NaN,NaN,NaN
22,Afghanistan,Huile de Soja,vegetale,NaN,NaN,13.0,0.53,1.46,NaN,16.0,NaN,16.0,16.0,NaN,NaN,NaN,NaN,NaN
23,Afghanistan,Huile de Sésame,vegetale,NaN,NaN,1.0,0.05,0.13,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
24,Afghanistan,Huile de Tournesol,vegetale,NaN,NaN,18.0,0.75,2.06,NaN,23.0,NaN,22.0,23.0,NaN,1.0,NaN,NaN,NaN
25,Afghanistan,Lait - Excl Beurre,animale,123.0,NaN,100.0,62.23,5.19,6.12,2083.0,0.0,248.0,1901.0,58.0,1835.0,NaN,NaN,NaN
26,Afghanistan,Légumineuses Autres,vegetale,4.0,NaN,23.0,2.44,0.14,1.56,86.0,0.0,26.0,74.0,3.0,60.0,5.0,NaN,NaN
27,Afghanistan,Mais,vegetale,200.0,NaN,21.0,2.50,0.30,0.56,313.0,0.0,1.0,76.0,31.0,312.0,5.0,NaN,NaN
28,Afghanistan,Miel,vegetale,NaN,NaN,1.0,0.07,NaN,0.00,2.0,0.0,0.0,2.0,NaN,2.0,NaN,NaN,NaN
29,Afghanistan,Millet,vegetale,NaN,NaN,3.0,0.40,0.02,0.08,13.0,NaN,NaN,12.0,1.0,13.0,0.0,NaN,NaN
30,Afghanistan,Miscellanees,vegetale,NaN,NaN,1.0,NaN,0.02,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Afghanistan,Noix,vegetale,NaN,NaN,12.0,1.45,1.07,0.38,44.0,12.0,NaN,44.0,NaN,56.0,NaN,NaN,NaN
32,Afghanistan,Oeufs,animale,NaN,NaN,5.0,1.30,0.36,0.38,47.0,NaN,29.0,40.0,5.0,18.0,2.0,NaN,NaN
33,Afghanistan,Olives,vegetale,NaN,NaN,0.0,0.06,0.03,0.00,7.0,0.0,NaN,2.0,0.0,7.0,NaN,4.0,NaN
34,Afghanistan,Orge,vegetale,360.0,NaN,26.0,2.92,0.24,0.79,524.0,NaN,10.0,89.0,52.0,514.0,22.0,NaN,0.0
35,Afghanistan,Poissons Eau Douce,animale,NaN,0.0,0.0,0.07,0.00,0.02,2.0,NaN,0.0,2.0,NaN,2.0,NaN,NaN,NaN
36,Afghanistan,Poivre,vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0
37,Afghanistan,Pommes,vegetale,NaN,NaN,3.0,2.22,0.01,0.02,72.0,7.0,0.0,68.0,4.0,79.0,NaN,NaN,NaN
38,Afghanistan,Pommes de Terre,vegetale,NaN,NaN,15.0,7.53,0.04,0.25,262.0,41.0,0.0,230.0,9.0,303.0,23.0,NaN,NaN
39,Afghanistan,Raisin,vegetale,NaN,NaN,29.0,15.80,0.12,0.27,513.0,97.0,NaN,483.0,31.0,611.0,NaN,NaN,0.0
40,Afghanistan,Riz (Eq Blanchi),vegetale,NaN,NaN,141.0,13.82,0.27,2.70,461.0,NaN,119.0,422.0,24.0,342.0,14.0,NaN,NaN
41,Afghanistan,Sucre Eq Brut,vegetale,NaN,NaN,84.0,8.35,NaN,NaN,255.0,NaN,271.0,255.0,NaN,2.0,NaN,NaN,-19.0
42,Afghanistan,Sésame,vegetale,NaN,NaN,9.0,0.52,0.77,0.27,21.0,11.0,NaN,16.0,1.0,32.0,1.0,4.0,0.0
43,Afghanistan,Thé,vegetale,NaN,NaN,4.0,3.49,NaN,0.96,107.0,NaN,107.0,107.0,NaN,NaN,NaN,NaN,NaN
44,Afghanistan,Tomates,vegetale,NaN,NaN,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
45,Afghanistan,Viande d'Ovins/Caprins,animale,NaN,NaN,31.0,4.92,2.55,1.91,150.0,NaN,NaN,150.0,NaN,150.0,NaN,NaN,NaN
46,Afghanistan,Viande de Bovins,animale,NaN,NaN,27.0,4.59,2.10,1.89,140.0,NaN,6.0,140.0,NaN,134.0,NaN,NaN,NaN
47,Afghanistan,Viande de Volailles,animale,NaN,NaN,9.0,2.45,0.53,0.87,75.0,NaN,48.0,75.0,NaN,26.0,NaN,NaN,NaN
48,Afghanistan,Vin,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [14]:
# data exploration
dispo_alimentaire1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13163 entries, 0 to 13162
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           13163 non-null  object
 1   Produit                                                        13163 non-null  object
 2   Origine                                                        13163 non-null  object
 3   Aliments pour animaux                                          2153 non-null   float64
 4   Autres Utilisations                                            4571 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 12194 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         11972 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  9895 non-null   float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       9625 non-null   float64
 9   Disponibilité intérieure                                       12942 non-null  float64
 10  Exportations - Quantité                                        10154 non-null  float64
 11  Importations - Quantité                                        12540 non-null  float64
 12  Nourriture                                                     11972 non-null  float64
 13  Pertes                                                         3501 non-null   float64
 14  Production                                                     7525 non-null   float64
 15  Semences                                                       1873 non-null   float64
 16  Traitement                                                     1830 non-null   float64
 17  Variation de stock                                             5582 non-null   float64
dtypes: float64(15), object(3)
memory usage: 1.8+ MB

In [15]:
# data exploration
dispo_alimentaire1.describe()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
count,2153.000000,4571.000000,12194.000000,11972.000000,9895.000000,9625.000000,12942.000000,10154.000000,12540.000000,11972.000000,3501.000000,7525.000000,1873.000000,1830.000000,5582.000000
mean,412.438458,86.762634,38.130474,8.398832,1.427945,1.361328,394.238217,116.736852,78.948565,250.776061,68.256784,716.011827,57.118526,258.543169,-16.174489
std,3191.266800,2065.168969,114.641683,24.651627,3.902729,3.885624,3703.317638,1136.531005,426.521749,2042.329523,388.232354,5755.621687,321.703807,1832.827022,590.239154
min,0.000000,0.000000,-21.000000,-1.930000,-0.030000,-0.370000,-159.000000,-41.000000,-201.000000,-246.000000,0.000000,0.000000,0.000000,-19.000000,-39863.000000
25%,0.000000,0.000000,0.000000,0.050000,0.010000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000
50%,6.000000,0.000000,4.000000,0.820000,0.080000,0.100000,6.000000,0.000000,1.000000,5.000000,3.000000,21.000000,2.000000,5.000000,0.000000
75%,90.000000,5.000000,22.000000,4.960000,0.780000,0.730000,68.000000,8.000000,17.000000,48.000000,21.000000,174.000000,17.000000,55.750000,0.000000
max,128024.000000,137023.000000,1711.000000,430.760000,60.760000,54.970000,292776.000000,42797.000000,14403.000000,105807.000000,11336.000000,353699.000000,6579.000000,47189.000000,5284.000000

In [16]:
# data exploration
dispo_alimentaire1.isnull().sum()

Zone                                                                 0
Produit                                                              0
Origine                                                              0
Aliments pour animaux                                            11010
Autres Utilisations                                               8592
Disponibilité alimentaire (Kcal/personne/jour)                     969
Disponibilité alimentaire en quantité (kg/personne/an)            1191
Disponibilité de matière grasse en quantité (g/personne/jour)     3268
Disponibilité de protéines en quantité (g/personne/jour)          3538
Disponibilité intérieure                                           221
Exportations - Quantité                                           3009
Importations - Quantité                                            623
Nourriture                                                        1191
Pertes                                                            9662
Production                                                        5638
Semences                                                         11290
Traitement                                                       11333
Variation de stock                                                7581
dtype: int64

In [17]:
# data exploration
# remplacement des valeurs par la moyenne
dispo_alimentaire1=dispo_alimentaire1.fillna ({
                                    "Disponibilité alimentaire (Kcal/personne/jour)": dispo_alimentaire1['Disponibilité alimentaire (Kcal/personne/jour)'].mean(),
                                    'Disponibilité alimentaire en quantité (kg/personne/an)':dispo_alimentaire1['Disponibilité alimentaire en quantité (kg/personne/an)'].mean(),
                                    'Disponibilité de matière grasse en quantité (g/personne/jour)': dispo_alimentaire1['Disponibilité de matière grasse en quantité (g/personne/jour)'].mean(),
                                    'Disponibilité de protéines en quantité (g/personne/jour) ' : dispo_alimentaire1['Disponibilité de protéines en quantité (g/personne/jour)'].mean(),
                                    'Disponibilité intérieure' : dispo_alimentaire1['Disponibilité intérieure'].mean(),
                                    'Exportations - Quantité':dispo_alimentaire1['Exportations - Quantité'].mean(),
                                    'Importations - Quantité':dispo_alimentaire1['Importations - Quantité'].mean(),
                                    'Nourriture':dispo_alimentaire1['Nourriture'].mean(),                              
                                    'Pertes':dispo_alimentaire1['Pertes'].mean(),
                                    'Production':dispo_alimentaire1['Production'].mean(),
                                    'Semences':dispo_alimentaire1['Semences'].mean(),
                                    'Traitement ':dispo_alimentaire1['Traitement'].mean(),     
                                    'Semences':dispo_alimentaire1['Semences'].mean(),
                                    'Aliments pour animaux':0
                            
                                    })

In [18]:
#remplacer les valeurs Nan de la colonne variation de stock par 0

dispo_alimentaire1['Variation de stock'].fillna(0,inplace= True)

In [19]:
#remplacer les valeurs nan de la colonne Production de stock par 0

dispo_alimentaire1['Production'].fillna(0,inplace= True)

In [20]:
dispo_alimentaire1.loc[dispo_alimentaire1['Aliments pour animaux']=='animale'] = 0
dispo_alimentaire1.loc[dispo_alimentaire1['Aliments pour animaux']=='vegetale'] = 0

In [21]:
dispo_alimentaire1["Aliments pour animaux"] = dispo_alimentaire1['Aliments pour animaux'].astype('float64')

In [22]:
dispo_alimentaire1.dtypes

Zone                                                              object
Produit                                                           object
Origine                                                           object
Aliments pour animaux                                            float64
Autres Utilisations                                              float64
Disponibilité alimentaire (Kcal/personne/jour)                   float64
Disponibilité alimentaire en quantité (kg/personne/an)           float64
Disponibilité de matière grasse en quantité (g/personne/jour)    float64
Disponibilité de protéines en quantité (g/personne/jour)         float64
Disponibilité intérieure                                         float64
Exportations - Quantité                                          float64
Importations - Quantité                                          float64
Nourriture                                                       float64
Pertes                                                           float64
Production                                                       float64
Semences                                                         float64
Traitement                                                       float64
Variation de stock                                               float64
dtype: object

# 3.1.  Dataframe ''Population''

In [23]:
# data exploration
population

             Zone  Année     Valeur
0     Afghanistan   2013  32269.589
1     Afghanistan   2014  33370.794
2     Afghanistan   2015  34413.603
3     Afghanistan   2016  35383.032
4     Afghanistan   2017  36296.113
...           ...    ...        ...
1411     Zimbabwe   2014  13586.707
1412     Zimbabwe   2015  13814.629
1413     Zimbabwe   2016  14030.331
1414     Zimbabwe   2017  14236.595
1415     Zimbabwe   2018  14438.802

[1416 rows x 3 columns]

In [24]:
# data exploration
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

In [25]:
# data exploration
population.describe()

             Année        Valeur
count  1416.000000  1.416000e+03
mean   2015.500000  3.144793e+04
std       1.708428  1.300812e+05
min    2013.000000  7.930000e-01
25%    2014.000000  3.783410e+02
50%    2015.500000  5.126480e+03
75%    2017.000000  1.930666e+04
max    2018.000000  1.427648e+06

In [26]:
# data exploration
population.isnull().sum()

Zone      0
Année     0
Valeur    0
dtype: int64

# 4.1.  Dataframe ''aide-alimentaire''

In [27]:
# data exploration
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-cereales     682
1       Afghanistan   2014  Autres non-cereales     335
2       Afghanistan   2013         Ble et Farin   39224
3       Afghanistan   2014         Ble et Farin   15160
4       Afghanistan   2013             Cereales   40504

In [28]:
# data exploration
aide_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1474 non-null   object
 1   Année              1474 non-null   int64
 2   Produit            1474 non-null   object
 3   Valeur             1474 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [29]:
# data exploration
aide_alimentaire.describe()

             Année         Valeur
count  1474.000000    1474.000000
mean   2014.054274    7486.602442
std       0.947236   23346.773251
min    2013.000000       0.000000
25%    2013.000000     286.750000
50%    2014.000000    1179.500000
75%    2015.000000    4335.750000
max    2016.000000  265013.000000

In [30]:
# data exploration
aide_alimentaire.isnull().sum()

Pays bénéficiaire    0
Année                0
Produit              0
Valeur               0
dtype: int64

# 5.  Questions de Marc

## 5.1.  Proportion de personnes en état de sous-nutrition pour l’année 2017 ?

In [31]:
#Proportion de personnes en état de sous-nutrition = (Personnes en sous nutrition en 2017) / (population mondiale 2017) * 100

#population mondiale 2017
population_mondiale_2017 = population.loc[population['Année']==2017]['Valeur'].sum()

#Nombre de personne en sous-nutrition en 2017
personne_en_sous_nutrution_2017 = sous_nutrition.loc[sous_nutrition['Année']==2017]['Valeur'].sum()

Proportion_de_personnes_en_etat_de_sous_nuttrition = personne_en_sous_nutrution_2017 / population_mondiale_2017 *100

print(Proportion_de_personnes_en_etat_de_sous_nuttrition)

7.097118203283073

La proportion de personnes en sous nutrition pour l'année 2017 est de 7.10 pourcent

## 5.2.  Nombre théorique de personnes qui pourraient être nourries

In [32]:
population['Valeur'] = population['Valeur']*1000

In [33]:
#nombre théorique de personnes qui pourraient être nourries =  Disponibilité alimentaire (Kcal/personne/jour) en 2017 / kcal journalier d'un homme(2400) * 1000 / population_mondiale_2017 
#On calcul la disponibilité alimentaire annuel (Kcal/personne/jour) de de la population / On multiplie par 1000 pour arrondir le resultat
dispo_alimentaire2 = dispo_alimentaire1['Disponibilité alimentaire (Kcal/personne/jour)'].sum()/2400*1000

#Calcul du résultat final
nb_personnes_qui_pourraient_être_nourries = round(dispo_alimentaire2)

In [34]:
#le resultat semble non coherant 
print(nb_personnes_qui_pourraient_être_nourries)

209130

Nombre théorique de personnes qui pouvaient être nourries dans le monde en 2017 en millions d’habitants était de : 209130

## 5.3. Nombre théorique de personnes qui pourraient être nourries à partir de la disponibilité alimentaire mondiale des produits végétaux

In [35]:
#Nombre théorique de personnes qui pourraient être nourries avec des produits végétaux = population_mondiale_2017 * Disponibilité alimentaire des produits végétaux (Kcal/personne/jour)  / kcal journalier d'un homme(2400) *1000
#On veut la somme de la disponibilité alimentaire (Kcal/personne/jour), l'orsque l'origine est végétale 

#Somme de la disponibilité alimentaire (Kcal/personne/jour), l'orsque l'origine est végétale :
dispo_alimentaire_végétale= round(dispo_alimentaire1[dispo_alimentaire1['Origine']=='vegetale']['Disponibilité alimentaire (Kcal/personne/jour)'].sum()/2400*1000)
print(dispo_alimentaire_végétale)

171999

la disponibilité des produits végétaux en 2017 pouvait nourrir en millions d'habitant : 171999

## 5.4. l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine

In [36]:
dispo_alimentaire1

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,NaN,5.0,1.72,0.200000,0.77,53.0,116.736852,78.948565,53.0,68.256784,53.000000,57.118526,NaN,0.0
1,Afghanistan,Aliments pour enfants,vegetale,0.0,NaN,1.0,0.06,0.010000,0.03,2.0,116.736852,2.000000,2.0,68.256784,716.011827,57.118526,NaN,0.0
2,Afghanistan,Ananas,vegetale,0.0,NaN,0.0,0.00,1.427945,NaN,0.0,116.736852,0.000000,0.0,68.256784,716.011827,57.118526,NaN,0.0
3,Afghanistan,Bananes,vegetale,0.0,NaN,4.0,2.70,0.020000,0.05,82.0,116.736852,82.000000,82.0,68.256784,716.011827,57.118526,NaN,0.0
4,Afghanistan,Bière,vegetale,0.0,NaN,0.0,0.09,1.427945,0.00,3.0,116.736852,3.000000,3.0,68.256784,716.011827,57.118526,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13158,ÃŽles Salomon,Viande d'Ovins/Caprins,animale,0.0,NaN,1.0,0.14,0.090000,0.05,0.0,116.736852,0.000000,0.0,68.256784,716.011827,57.118526,NaN,0.0
13159,ÃŽles Salomon,Viande de Bovins,animale,0.0,NaN,27.0,5.57,1.800000,2.62,3.0,116.736852,2.000000,3.0,68.256784,1.000000,57.118526,NaN,0.0
13160,ÃŽles Salomon,Viande de Suides,animale,0.0,NaN,45.0,4.70,4.280000,1.41,3.0,116.736852,0.000000,3.0,68.256784,2.000000,57.118526,NaN,0.0
13161,ÃŽles Salomon,Viande de Volailles,animale,0.0,NaN,11.0,3.34,0.690000,1.14,2.0,116.736852,2.000000,2.0,68.256784,0.000000,57.118526,NaN,0.0
13162,ÃŽles Salomon,Vin,vegetale,0.0,NaN,0.0,0.07,1.427945,NaN,0.0,0.000000,0.000000,0.0,68.256784,716.011827,57.118526,NaN,0.0

La disponibilité intérieure 2017 est composée des éléments suivants : Aliments pour animaux, Autres Utilisations, nourriture, pertes, semences, traitement.

In [37]:
#Calculons à partir de la disponibilité intérieure la part qui est attribuée à l’alimentation animale

#Calcul de la somme de la disponibilité intérieure exprimé en tonnes
#Calcul de la somme des aliments pour animaux exprimé en tonnes

total_en_tonnes_disponibilité_intérieur= dispo_alimentaire1['Disponibilité intérieure'].sum()
total_en_tonnes_aliments_pour_animaux=  dispo_alimentaire1['Aliments pour animaux'].sum() 
proportion_dédiée_aux_animaux= total_en_tonnes_aliments_pour_animaux / total_en_tonnes_disponibilité_intérieur

print(proportion_dédiée_aux_animaux)

0.17111559090646183

l’alimentation animale représentent 14 % de la disponibilité intérieure

In [38]:
#Calculons à partir de l’utilisation de la disponibilité intérieure la part qui est attribuée aux pertes

#Calcul de la somme des pertes exprimé en tonnes

total_en_tonnes_pertes= dispo_alimentaire1['Pertes'].sum()

proportion_dédiée_aux_pertes= total_en_tonnes_pertes / total_en_tonnes_disponibilité_intérieur
print(proportion_dédiée_aux_pertes)

0.17313588813007885

Les pertes représentent 17 % de tonnes de la disponibilité intérieure

In [39]:
#Calculons à partir de la disponibilité intérieure la part qui est utilisée pour l'alimentation humaine

#Calcul de la somme de la part utilisée pour l'alimentation humaine exprimé en tonnes

total_en_tonnes_alimentation_humaine= dispo_alimentaire1['Nourriture'].sum()

proportion_dédiée_aux_humains= total_en_tonnes_alimentation_humaine / total_en_tonnes_disponibilité_intérieur
print(proportion_dédiée_aux_humains)

0.6361028693103659

l’alimentation humaine représente 63 % de la disponibilité intérieure

# 6.  Questions de Melanie

 ## 6.1. Les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

In [40]:
#Population en état de sous nutrition
population_mondiale_2017_1 = population.loc[population['Année']==2017]
snutrition2017= sous_nutrition.loc[population['Année']==2017]
pop_snutrition2017= pd.merge(snutrition2017,population_mondiale_2017_1, how='left', on='Zone')

In [41]:
#On renomme nos colonnes
pop_snutrition2017.rename(columns={'Valeur_x' : 'Personnes en sous-nutrition','Valeur_y': 'Population'}, inplace = True )

#On supprime les colonnes Année_x et Année_y
pop_snutrition2017.drop(columns={'Année_x','Année_y'}, inplace= True)

#Colonne proportion
pop_snutrition2017['Proportion ']=round((pop_snutrition2017['Personnes en sous-nutrition']/pop_snutrition2017['Population']*100),2
                                        )
#On affiche les 10 premiers résultats par ordre décroissant
résultat = pop_snutrition2017.sort_values(by='Proportion ', ascending=False).head(10)
print(résultat)

                                           Zone  Personnes en sous-nutrition  \
157  Republique populaire democratique de Coree                      12000.0
78                                        Haiti                       5300.0
103                                     Liberia                       1800.0
108                                  Madagascar                      10500.0
100                                     Lesotho                        800.0
161                                      Rwanda                       4200.0
183                                       Tchad                       5700.0
171                                Sierra Leone                       2000.0
44                                        Congo                       1400.0
186                                 Timor-Leste                        400.0

     Population  Proportion
157  25429825.0         0.05
78   10982366.0         0.05
103   4702226.0         0.04
108  25570512.0         0.04
100   2091534.0         0.04
161  11980961.0         0.04
183  15016753.0         0.04
171   7488423.0         0.03
44    5110695.0         0.03
186   1243258.0         0.03

## 6.2.  Les pays qui ont le plus bénéficié d’aide depuis 2013

In [42]:
#On renomme notre colonne 'Valeur' en 'Aides reçus en tonnes)'
aide_alimentaire.rename(columns={'Valeur' : 'Aides reçus en tonnes'}, inplace = True )

In [43]:
#Somme des aides reçu en tonnes par pays et par ordre décroissant
resultat2= aide_alimentaire.groupby(['Pays bénéficiaire'])['Aides reçus en tonnes'].sum().sort_values(ascending=False).head(10)
print(resultat2)

Pays bénéficiaire
Republique arabe syrienne           1858943
Ethiopie                            1381294
Yemen                               1206484
Soudan du Sud                        695248
Soudan                               669784
Kenya                                552836
Bangladesh                           348188
Somalie                              292678
Republique democratique du Congo     288502
Niger                                276344
Name: Aides reçus en tonnes, dtype: int64

## 6.3.  Les pays qui ont le plus de disponibilité par habitant en 2017

In [44]:
#somme disponibilité alimentaire par pays (Zone):
pays_forte_disponibilité=dispo_alimentaire1.groupby('Zone').sum('Disponibilité alimentaire (Kcal/personne/jour)').astype(int)
#Les 10 pays avec la plus forte disponibilité alimentaire:
pays_forte_disponibilité=pays_forte_disponibilité.sort_values('Disponibilité alimentaire (Kcal/personne/jour)', ascending=False).head(10)
#On affiche la colonne souhaitée
pays_forte_disponibilité=pays_forte_disponibilité[['Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité alimentaire en quantité (kg/personne/an)']]
print(pays_forte_disponibilité)

                       Disponibilité alimentaire (Kcal/personne/jour)  \
Zone
Turquie                                                          3797
Luxembourg                                                       3792
Belgique                                                         3787
Autriche                                                         3738
Etats-Unis d'Amérique                                            3726
Irlande                                                          3725
Emirats arabes unis                                              3719
Norvège                                                          3654
Allemagne                                                        3631
Roumanie                                                         3626

                       Disponibilité alimentaire en quantité (kg/personne/an)
Zone
Turquie                                                              857
Luxembourg                                                          1022
Belgique                                                             939
Autriche                                                             965
Etats-Unis d'Amérique                                                931
Irlande                                                             1030
Emirats arabes unis                                                  757
Norvège                                                              903
Allemagne                                                            921
Roumanie                                                             944

## 6.4.  Les pays qui ont le moins de disponibilité par habitant en 2017

In [45]:
#somme disponibilité alimentaire par pays (Zone):
pays_faible_disponibilité=dispo_alimentaire1.groupby('Zone').sum('Disponibilité alimentaire (Kcal/personne/jour)').astype(int)
#Les 10 pays avec la plus faible disponibilité alimentaire:
pays_faible_disponibilité=pays_faible_disponibilité.sort_values('Disponibilité alimentaire (Kcal/personne/jour)', ascending=True).head(10)
#On affiche la colonne souhaitée
pays_faible_disponibilité=pays_faible_disponibilité[['Disponibilité alimentaire (Kcal/personne/jour)','Disponibilité alimentaire en quantité (kg/personne/an)']]
print(pays_faible_disponibilité)

                                            Disponibilité alimentaire (Kcal/personne/jour)  \
Zone
Ethiopie                                                                              1881
République centrafricaine                                                             1890
Zambie                                                                                1965
Tchad                                                                                 2027
République populaire démocratique de Corée                                            2033
Timor-Leste                                                                           2048
Afghanistan                                                                           2106
Madagascar                                                                            2156
Zimbabwe                                                                              2161
Congo                                                                                 2177

                                            Disponibilité alimentaire en quantité (kg/personne/an)
Zone
Ethiopie                                                                                  323
République centrafricaine                                                                 446
Zambie                                                                                    341
Tchad                                                                                     305
République populaire démocratique de Corée                                                325
Timor-Leste                                                                               324
Afghanistan                                                                               332
Madagascar                                                                                426
Zimbabwe                                                                                  339
Congo                                                                                     539

# 7.  Autres informations intéressantes

## 7.1. Les pays qui souffrent le plus de sous nutrition depuis 2013

In [46]:
#somme de la population souffrant le plus de sous nutrition par pays (Zone):
pays_forte_snutrition=sous_nutrition.groupby(['Zone']).sum()
#Les 10 pays dont la population souffre le plus de sous nutrition:
pays_forte_snutrition=pays_forte_snutrition.sort_values('Valeur', ascending=False).head(10)
#On affiche la colonne souhaitée
pays_forte_snutrition=pays_forte_snutrition['Valeur']

print(pays_forte_snutrition)

Zone
Inde                                          1165400.0
Pakistan                                       160500.0
Indonesie                                      141700.0
Ethiopie                                       136100.0
Bangladesh                                     132100.0
Nigeria                                        121900.0
Philippines                                     93300.0
Republique-Unie de Tanzanie                     80000.0
Republique populaire democratique de Coree      68100.0
Kenya                                           66000.0
Name: Valeur, dtype: float64

## 7.2. Les pays qui souffrent le moins de sous nutrition depuis 2013

In [47]:
#somme de la population souffrant le moins de sous nutrition par pays (Zone):
pays_faible_snutrition=sous_nutrition.groupby(['Zone']).sum()
#Les 10 pays dont la population souffre le plus de sous nutrition:

pays_faible_snutrition=pays_faible_snutrition[pays_faible_snutrition['Valeur']>0]

pays_faible_snutrition=pays_faible_snutrition.sort_values('Valeur', ascending=True).head(10)


#On affiche la colonne souhaitée
resultat=pays_faible_snutrition['Valeur']

print(resultat)

Zone
Cabo Verde       100.0
Kazakhstan       500.0
Tunisie          600.0
Albanie          600.0
Eswatini        1100.0
Costa Rica      1200.0
Turkmenistan    1300.0
Bulgarie        1400.0
Georgie         1400.0
Gambie          1500.0
Name: Valeur, dtype: float64